/*----------------------------------------Navbar----------------------------------------------*/
/*body{*/
/*    background-image: url("src/circuit-wallpaper-2048x1536_26.jpeg");*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*}*/
.navbar{
    /*list-style-type: none;*/
    width: 100%;
    margin: -10px;
    padding-right: 18px;
    /*padding: 0px;*/
    overflow: hidden;
    background-color: black;
    background-image: linear-gradient(to right, black , rgb(75, 72, 72));
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 18px;
}

.navbar ul {
    float: right;
    margin-right: 170px;
}

.navbar li{
    display:inline-block;
    padding-top: 25px;
    padding-right: 25px;

}
.navbar li a{
    text-decoration: none;
    color: white;
    padding-right:10px;
    /*margin-right: 20px;*/
    text-align: center;
}

.navbar img{
    margin-top: 20px;
    margin-left: 90px;
    height: 60px;
    width: 220px;
    float: left;
}


.DropDownMenu .dropDownContent{
    display: none;
    position: absolute;
    background-color: #d7d7d7;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px #9cabc7;
    margin-right: 50px;
    border-radius: 10px;
}

.navbar .DropDownMenu .dropDownContent a{
    display: block;
    color: #000000;
    padding: 12px 16px;
    text-align: center;
    border-radius: 10px;

}
#accountName{
    margin-left: 45px;
    color: limegreen;
}
#expandBtn{
    vertical-align: bottom;
    color: #2d89ff;
}

.navbar li a:hover {
    color: #f0f50e;
}

.navbar li #accountName:hover {
    color: #ffffff;
}

.DropDownMenu:hover .dropDownContent{
    display: block;

}

.navbar .DropDownMenu .dropDownContent a:hover{
    color: #125600;
    /*background-color: #282828;*/
    background-image: linear-gradient(to right, #838383, rgb(211, 211, 211));
}

#contactus{
    color: red;
}

.navbar li #contactus:hover{
    color: #ffffff;
}

#AboutUs{
    color:yellow;
}
/*----------------------------------------Navbar----------------------------------------------*/


.toCenter{
    text-align: center;
}
#kodaImageLogo{
    margin-top: 190px;
    height: 160px;
    width: 460px;
}

#AboutUsText{
    margin-top: 75px;
    font-family: sans-serif;
    color: white;
}
#bgBlack{
    /*width: 100%;*/
    background-color: black;
    margin-left: -80px;
    margin-right: -8px;
    margin-top: 10px;
    padding-bottom: 250px;
    height: 500px;
}

#groupPhoto{
    display: block;
    width: 50%;
    margin-top: -190px;

    /*height: 500px;*/
    /*width:  700px;*/
    /*margin-left: 560px;*/
    margin-left: auto;
    margin-right: auto;
    /*justify-content: center;*/
    border-radius: 2%;
    /*margin-right: 60px;*/
}

#paragraph{
    font-family: sans-serif;
    font-size: medium;
    /*margin: 50px 530px 50px 530px;*/
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    justify-content: center;
    line-height: 25px;
}







