body{
    font-family: sans-serif;
}


.navbar{
    /*list-style-type: none;*/
    width: 100%;
    margin: -10px;
    padding-right: 18px;
    /*padding: 0px;*/
    overflow: hidden;
    background-color: black;
    background-image: linear-gradient(to right, black , rgb(75, 72, 72));
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 18px;
}

.navbar ul {
    float: right;
    margin-right: 170px;
}

.navbar li{
    display:inline-block;
    padding-top: 25px;
    padding-right: 25px;

}
.navbar li a{
    text-decoration: none;
    color: white;
    padding-right:10px;
    /*margin-right: 20px;*/
    text-align: center;
}

.navbar img{
    margin-top: 20px;
    margin-left: 90px;
    height: 60px;
    width: 220px;
    float: left;
}


.DropDownMenu .dropDownContent{
    display: none;
    position: absolute;
    background-color: #d7d7d7;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px #9cabc7;
    margin-right: 50px;
    border-radius: 10px;
}

.navbar .DropDownMenu .dropDownContent a{
    display: block;
    color: #000000;
    padding: 12px 16px;
    text-align: center;
    border-radius: 10px;

}
#accountName{
    margin-left: 45px;
    color: limegreen;
}
#expandBtn{
    vertical-align: bottom;
    color: #2d89ff;
}

.navbar li a:hover {
    color: #f0f50e;
}

.navbar li #accountName:hover {
    color: #ffffff;
}

.DropDownMenu:hover .dropDownContent{
    display: block;

}

.navbar .DropDownMenu .dropDownContent a:hover{
    color: #125600;
    /*background-color: #282828;*/
    background-image: linear-gradient(to right, #838383, rgb(211, 211, 211));
}

#contactus{
    color: red;
}

.navbar li #contactus:hover{
    color: #ffffff;
}

#AboutUs{
    color:yellow;
}
/*----------------------------------------navbar------------------------------------*/

.elements{
    text-align: center;
}
#containerFirstHalf{
    /*margin-top: 200px;*/
    /*margin-bottom: 100px;*/
    /*background-color: black;*/
    /*height: 100%;*/
    /*width: 100%;*/

}

#blackBG{
    background-color: black;
    margin-left: -80px;
    margin-right: -8px;
    margin-top: 10px;
    padding-bottom: 100px;
    height: 500px;
    background-image: url("src/business-busy-clean-computer.jpeg");
    /*margin-top: -20px;*/
    background-size: 100%;
    background-repeat: no-repeat;
}

#Contact{
    padding-top: 300px;
    padding-left: 60px;
    color: black;
    font-size: xx-large;
}

#name, #email, #phone{
    height: 30px;
    width: 235px;
    margin-bottom: 20px;
    border-radius: 8px;
    border-style: solid;
}
#notesArea{
    display: inline-block;
}
#SubmitBtn{
    height: 40px;
    width: 120px;
    margin-top: 50px;
    border-radius: 8px;
    color: white;
    border-style: hidden;
    background-image: linear-gradient(to right, #f8451d, rgb(246, 137, 106));
    margin-bottom: 25px;
}
#firstText, #phoneNumber, #kodaemail, #address {
    padding-top: 50px;
    /*margin-bottom: 55px;*/
}
#address{
    margin-bottom: 20px;
}

#notesArea, #SubmitBtn{
    display:inline-block;
}
#container2ndHalf{
    background-color: whitesmoke;
    /*width: 500px;*/
    /*padding: 0px 50px;*/
    margin: 0px -8px;
}
#lineDivider{
    background-color: #9cabc7;
}